<br>
<div class="container">
  <app-search-form (searchTextEvent)="searchText = $event"></app-search-form>
  <div class="row row-cols-md-2">
    <div class="col" *ngFor="let person of peopleData | filter: searchText">
      <div class="card">
        <div class="card-body">
          <label class="category"> {{person.category}} </label>
          <h4 class="card-title">{{person.firstname}} {{person.lastname}} </h4>
          <label class="card-role">{{person.role}}</label>
          <p class="card-text">
            {{person.testimony}}
          </p>
          <div>
            <label *ngIf="person.rating > 0"  class="fas fa-star star-checked"></label>
            <label *ngIf="person.rating > 1"  class="fas fa-star star-checked"></label>
            <label *ngIf="person.rating > 2"  class="fas fa-star star-checked"></label>
            <label *ngIf="person.rating > 3"  class="fas fa-star star-checked"></label>
            <label *ngIf="person.rating > 4"  class="fas fa-star star-checked"></label>
            <label *ngIf="person.rating <= 4"  class="fas fa-star"></label>
            <label *ngIf="person.rating <= 3"  class="fas fa-star"></label>
            <label *ngIf="person.rating <= 2"  class="fas fa-star"></label>
            <label *ngIf="person.rating <= 1"  class="fas fa-star"></label>
          </div>
          <span style="color:green" *ngIf="person.recommend"> <i class="far fa-thumbs-up"></i> Recommends</span>
          <span style="color:red" *ngIf="!person.recommend"><i class="far fa-thumbs-down"></i> Does not recommend</span>
        </div>
      </div>
    </div>
  </div>
</div>
