<div class="col">
  <div class="card">
    <div class="card-body">
      <img
        class="float-right"
        src="assets/angular_logo.png"
        height="40"
        width="45"
      />
      <label class="category">CATEGORY</label>
      <h5 class="card-title">Title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <button type="button" class="btn btn-card card-footer">
      <b>Button</b>
    </button>
  </div>
</div>
